<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup page</title>
    <link rel="stylesheet" href="/stylesheets/auth/signup.css">
</head>
<body>
    <%- include('../partials/navbar') %>
    <h1>JOIN OUR COMMUNITY</h1>
    <form action="" method="POST">
        <% if (empty) { %>
            <h4 class="warning">FILL ALL FIELDS</h4>
        <% } %>
        <% if (exist) { %>
            <h4 class="warning">USER EXISTS</h4>
        <% } %>
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username">
        </div>
        <% if (match) { %>
            <h4 class="warning">PASSWORDS DON'T MATCH</h4>
        <% } %>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <label for="confirmPassword">Confirm password</label>
            <input type="password" name="confirmPassword" id="confirmPassword">
        </div>
        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>
