<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
    <link rel="stylesheet" href="/stylesheets/admin/deletePost.css">
</head>
<body>
    <%- include('./adminPartials/adminNavbar')  %>
    <h1>Delete Post</h1>
    <form action="/admin/deletePost?_method=DELETE" method="POST">
        <label for="PostId">Post Id</label>
        <input type="text" name="postId" id="postId">
        <button type="submit">DELETE</button>
    </form>
</body>
</html>