<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Homepage</title>
    <link rel="stylesheet" href="/stylesheets/user/userHomepage.css">
</head>
<body>
    <%- include('userPartials/userNavbar') %>
    <h1>Welcome User</h1>
    <hr>
    <div class="posts-container">
        <% if (posts.length === 0) { %>
            <p class="no-posts">No posts to show.</p>
        <% } else { %>
            <% posts = posts.reverse() %>
            <% posts.forEach(element => { %>
                <div class="post-card">
                    <img src="/Images/placeholder.jpg" alt="Placeholder Image" class="post-image">
                    <% const owner = users.find(user => user._id.toString() === element.owner.toString()); %>
                    <div class="post-content">
                        <% if (owner) { %>
                            <p><b>USER: <%= owner.username %></b></p> 
                        <% } else { %>
                            <p><b>USER: Unknown</b></p>
                        <% } %>
                        <p><b>Posted on: <%= String(element.createdAt).split(' ').slice(1, -2).join(' ') %></b></p>
                        <p><%= element.description %></p>
                    </div>
                </div>
                <hr class="post-divider">
            <% }); %>
        <% } %>
    </div>
</body>
</html>
